<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PomodoroAdventures.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <PomodoroAdventures.Properties.Settings>
            <setting name="FirstTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Notifications" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AlwaysOnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="avgSessions" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="dateTime" serializeAs="String">
                <value />
            </setting>
            <setting name="Day1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Day2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Day3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Day4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Day5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Day6" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Day7" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DayIndex" serializeAs="String">
                <value>0</value>
            </setting>
        </PomodoroAdventures.Properties.Settings>
    </userSettings>
</configuration>